.progress-custom {
  background-color: #fffced;
}
.bg-YOU_PICK_A_NAME {
  background-color: #f9efb8 !important;
  text-align: right;
  color: gray !important;
}
.chip {
  height: 70px;
  width: 70px;
  border-radius: 80px;
}
